.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/nbproject/
/tmp/comprovantes/*
/images/professores/*
/images/escolas/*
.buildpath
.metadata/*
.project
.settings/*
RemoteSystemsTempFiles/*
composer.phar
composer.lock
